# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.pyc
*.pyo

# specific files and directories
Notebooks/
Scripts/

# other files
*.checkpoint.py

# API_KEY
.env

# Requirements
requirements.txt
